:where(:root) {
  --citra-black: #000000;
  --citra-white: #ffffff;
  --citra-blue-10: #E0F0FA;
  --citra-blue-20: #b9dafc;
  --citra-blue-30: #92c5f9;
  --citra-blue-40: #4394e5;
  --citra-blue-50: #0066cc;
  --citra-blue-60: #004d99;
  --citra-blue-70: #003366;
  --citra-gray-10: #f2f2f2;
  --citra-gray-20: #e0e0e0;
  --citra-gray-30: #c7c7c7;
  --citra-gray-40: #a3a3a3;
  --citra-gray-50: #707070;
  --citra-gray-60: #4d4d4d;
  --citra-geay-70: #383838;
  --citra-gray-80: #292929;
  --citra-gray-90: #1f1f1f;
  --citra-gray-95: #151515;
  --citra-green-10: #e9f7df;
  --citra-green-20: #d1f1bb;
  --citra-green-30: #afdc8f;
  --citra-green-40: #87bb62;
  --citra-green-50: #63993d;
  --citra-green-60: #3d7317;
  --citra-green-70: #204d00;
  --citra-orange-10: #ffe8cc;
  --citra-orange-20: #fccb8f;
  --citra-orange-30: #f8ae54;
  --citra-orange-40: #f5921b;
  --citra-orange-50: #ca6c0f;
  --citra-orange-60: #9e4a06;
  --citra-orange-70: #732e00;
  --citra-purple-10: #ece6ff;
  --citra-purple-20: #d0c5f4;
  --citra-purple-30: #b6a6e9;
  --citra-purple-40: #876fd4;
  --citra-purple-50: #5e40be;
  --citra-purple-60: #3d2785;
  --citra-purple-70: #21134d;
  --citra-red-10: #fce3e3;
  --citra-red-20: #fbc5c5;
  --citra-red-30: #f9a8a8;
  --citra-red-40: #f56e6e;
  --citra-red-50: #ee0000;
  --citra-red-60: #a60000;
  --citra-red-70: #5f0000;
  --citra-red-orange-10: #ffe3d9;
  --citra-red-orange-20: #fbbea8;
  --citra-red-orange-30: #f89b78;
  --citra-red-orange-40: #f4784a;
  --citra-red-orange-50: #f0561d;
  --citra-red-orange-60: #b1380b;
  --citra-red-orange-70: #731f00;
  --citra-teal-10: #daf2f2;
  --citra-teal-20: #b9e5e5;
  --citra-teal-30: #9ad8d8;
  --citra-teal-40: #63bdbd;
  --citra-teal-50: #37a3a3;
  --citra-teal-60: #147878;
  --citra-teal-70: #004d4d;
  --citra-yellow-10: #fff4cc;
  --citra-yellow-20: #ffe072;
  --citra-yellow-30: #ffcc17;
  --citra-yellow-40: #dca614;
  --citra-yellow-50: #b98412;
  --citra-yellow-60: #96640f;
  --citra-yellow-70: #73480b;
  --citra-input-idle: rgb(21, 21, 21);
  --citra-bg-500: rgba(21, 21, 21, 0.2000);
  --citra-bg-600: rgba(199, 199, 199, 0.2500);
  --citra-bg-700: rgba(242, 242, 242);
  --citra-bg-plain: rgba(255, 255, 255, 0.0000);
}